env/
app/logs/prompts*
.env
app/.vercel
app/__pycache__
app/static/.DS_Store
__pycache__/
app/env
credentials.json
.DS_Store
.vercel
.vscode/
chatbot.py
notebooks/notebook.ipynb
notebooks/charts.ipynb
docs/reading*.txt
logs/*-dev.csv
**/*-old*