env/
app/logs/prompts*
.env
app/.vercel
app/__pycache__
app/static/.DS_Store
__pycache__/
app/env
credentials.json
.DS_Store
.vercel
.vscode/
notebooks/*.ipynb
!notebooks/pull-push.ipynb
logs/prompts*.csv
chatbot.py
docs/reading*.txt
**/*-old*
.gitignore
.pre-commit-config.yaml