body,
html {
    height: 100%;
    margin: 0;
    background: rgb(44, 47, 59);
    background: -webkit-linear-gradient(to right, rgb(40, 59, 34), rgb(54, 60, 70), rgb(32, 32, 43));
    background: linear-gradient(to right, rgb(38, 51, 61), rgb(50, 55, 65), rgb(33, 33, 78));
    font-size: 1.179em;
}

.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 589.38px;
    border-radius: 17.43px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
    padding: 0.88rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 17.43px 17.43px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 17.43px 17.43px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 17.43px 0 0 17.43px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 70.73px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 17.43px 0 0 17.43px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 17.43px 17.43px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 17.43px 17.43px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 6.15px 11.28px;
    margin-bottom: 17.43px !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 82px;
    width: 82px;
    border: 1.74px solid #f5f6fa;

}

.user_img_msg {
    height: 47.15px;
    width: 47.15px;
    border: 1.74px solid #f5f6fa;

}

.img_cont {
    position: relative;
    height: 82px;
    width: 82px;
}

.img_cont_msg {
    height: 47.15px;
    width: 47.15px;
}

.online_icon {
    position: absolute;
    height: 17.43px;
    width: 17.43px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.24em;
    right: 0.47em;
    border: 1.74px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 17.43px;
}

.user_info span {
    font-size: 23.58px;
    color: rgba(255, 255, 255, 0.9);
    /* color: white; */
}

.user_info p {
    font-size: 12.3px;
    color: rgba(255, 255, 255, 0.6);
}

.video_cam {
    margin-left: 58.43px;
    margin-top: 6.15px;
}

.video_cam span {
    color: white;
    font-size: 23.58px;
    cursor: pointer;
    margin-right: 23.58px;
}

.msg_container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 11.79px;
    border-radius: 29.73px;
    font-size: 0.8em;
    background-color: #2185ff;
    padding: 11.79px;
    position: relative;
    color: rgba(255, 255, 255, 0.9);
}

.msg_container_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 11.79px;
    border-radius: 29.73px;
    font-size: 0.8em;
    background-color: #4cd137;
    padding: 11.79px;
    position: relative;
    color: rgba(255, 255, 255, 0.9);
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -17.43px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 11.79px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -17.43px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 11.79px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 11.79px;
    top: 11.79px;
    color: white;
    cursor: pointer;
    font-size: 23.58px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 17.43px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 17.43px;
    top: 35.36px;
    right: 17.43px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 11.79px 17.43px;
    margin-bottom: 6.15px;
}

.action_menu ul li i {
    padding-right: 11.79px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.stats {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.stats_head {
    border-radius: 17.43px 17.43px 0 0 !important;
    border-bottom: 0 !important;
}

.stats_info span {
    font-size: 23.58px;
    color: white;
}

.stats_item {
    /* margin-bottom: 23.58px; */
}

.stats_item h5 {
    font-size: 1.179em;
    color: rgba(255, 255, 255, 0.8);
}

.stats_item p {
    font-size: 1.435em;
    font-weight: bold;
    color: #4cd137;
}

.typing-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.typing-indicator span {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #9E9EA1;
    border-radius: 50%;
    display: inline-block;
    animation: typing 1.4s infinite both;
}

.typing-indicator span:nth-child(1) {
    animation-delay: 0s;
}

.typing-indicator span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes typing {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}


@media(max-width: 590.4px) {
    .contacts_card {
        margin-bottom: 17.43px !important;
    }
}

.text-center {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1.8em;
    background-clip: text;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.5px;
    line-height: 1.4;
}

.stats_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.increment {
    font-size: 0.9em;
    color: #4cd137;
    font-weight: 600;
    margin-left: 10px;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.increment-flash {
    animation: flash 1s ease;
}

@keyframes flash {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }

    50% {
        opacity: 1;
        transform: translateX(0);
        color: #82ff82;
    }

    100% {
        opacity: 0.8;
        color: #4cd137;
    }
}
