<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <title>{% block title %}EcoBot{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='0.9em' font-size='90'>🌿</text></svg>">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="page-container">
        <!--<a href="/" class="back-button">← Back to Chat</a>-->
         <div class="course-header">
        <div class="course-left">
            <span class="ecobot-title">🌿 EcoBot 5</span>
            {% if session['admin'] %}
            <button class="admin-button">Admin</button>
            {% endif %}
        </div>

        <h1 class="course-title">SYN 100 - Artificial Intelligence: Climate Applications & Ethical Implications</h1>

        <div class="course-actions">
            <button class="dashboard-link-button" onclick="window.location.href='{{ url_for('dashboard') }}'">📊 Dashboard</button>
            <button class="new-chat-button" onclick="location.reload()">🔄 New Chat</button>
        </div>
    </div>
        {% block content %}
        {% endblock %}
    </div>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
