<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
  <head>
    <title>EcoGPT</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css')}}"
    />
  </head>

  <body>
    <div class="container-fluid h-100 d-flex align-items-center">
      <div class="row justify-content-center w-100">
        <div class="col-12">
          <h2 class="text-center">
            SYN 100 - Artificial Intelligence: Climate Applications & Ethical Implications
          </h2>
        </div>
        
        <div class="col-md-8 col-xl-6 chat">
          <div class="card">
            <div class="card-header msg_head">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img
                    src={{url_for('static', filename='images/placeholder.png')}}
                    class="rounded-circle user_img"
                  />
                  <span class="online_icon"></span>
                </div>
                <div class="user_info">
                  <span>EcoGPT 5</span>
                  <p>Ask me anything and see the environmental impact your query has!</p>
                </div>
              </div>
            </div>
            <div id="messageFormeight" class="card-body msg_card_body"></div>
            <div class="card-footer">
              <form id="messageArea" class="input-group">
                <input
                  type="text"
                  id="text"
                  name="msg"
                  placeholder="Type your message..."
                  autocomplete="off"
                  class="form-control type_msg"
                  required
                />
                <div class="input-group-append">
                  <button
                    type="submit"
                    id="send"
                    class="input-group-text send_btn"
                  >
                    <i class="fas fa-location-arrow"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3 stats">
            <div class="card">
                
                <div class="card-body">
                    <div class="stats_item">
                        <h5>Energy Cost (Wh)</h5>
                        <p><span id="total_wh">0.00000</span> ⚡️</p>
                    </div>
                    <div class="stats_item">
                        <h5>Water Cost (ml)</h5>
                        <p><span id="total_ml">0.00000</span> 💧</p>
                    </div>
                    <div class="stats_item">
                        <h5>Emissions (kg CO2)</h5>
                        <p><span id="total_co2">0.00000</span> 💨</p>
                    </div>
                    <div class="stats_item">
                        <h5>Money (USD)</h5>
                        <p>$<span id="total_usd">0.00</span> 💵</p>
                    </div>
                    <div class="stats_item">
                        <h5>Tokens</h5>
                        <p><span id="total_tokens">0</span> 🪙</p>
                    </div>

                </div>
            </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script> 
  </body>
</html>