{% extends "base.html" %}

{% block content %}
<div class="col-12">
  <h2 class="text-center mb-4">
    Developer Logs
  </h2>
</div>
<div class="col-md-10 col-xl-8 chat">
  <div class="card">
    <div class="card-body msg_card_body">
      <div class="table-container">
        {{ logs_dev.to_html(classes='table table-striped table-bordered table-hover', index=False) | safe }}
      </div>
    </div>
  </div>
  <div class="table-info">
    {{ logs_dev.shape[0] }} rows × {{ logs_dev.shape[1] }} columns
  </div>
</div>
{% endblock %}