{% extends "base.html" %}

{% block content %}
<div class="col-12">
  <h2 class="text-center mb-4">
    {% if success %}
      <a href="{{ url_for('index') }}">Pushed to Google Sheets! ✅</a>
    {% else %}
      <a href="{{ url_for('index') }}">Failed to push to Google Sheets ❌</a>
    {% endif %}
    <br>
    <p>
      <a target="_blank" href="https://docs.google.com/spreadsheets/d/1LOPkZ5go50BMZOAYENY1sqF5loVot38NUnqSZ4XGD54/edit?gid=0#gid=0">logs.csv</a> |
      <a target="_blank" href="https://docs.google.com/spreadsheets/d/10FKBNtge4TldqcUUK2tB9Ka21JkEjRGAOc5opHHqf64/edit?gid=0#gid=0">prompts.csv</a>
    </p>
  </h2>
</div>
{% endblock %}